DOANCUOIKY/DOANCUOIKY/Service References/WCF/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49843/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49843/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49843/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
      <xsd:import schemaLocation="http://localhost:49843/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49843/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_LoginUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataTitleByParemeters_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataTitleByParemeters" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataTitleByParemeters_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataTitleByParemetersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataCategoryByParemeters_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataCategoryByParemeters" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataCategoryByParemeters_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataCategoryByParemetersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestion" />
  </wsdl:message>
  <wsdl:message name="IService1_AddQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataQuestion" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataQuestionByParemeters_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataQuestionByParemeters" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadDataQuestionByParemeters_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataQuestionByParemetersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestion" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestion" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCreateAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_updateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_loadQuestion1_InputMessage">
    <wsdl:part name="parameters" element="tns:loadQuestion1" />
  </wsdl:message>
  <wsdl:message name="IService1_loadQuestion1_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadQuestion1Response" />
  </wsdl:message>
  <wsdl:message name="IService1_saveExam_InputMessage">
    <wsdl:part name="parameters" element="tns:saveExam" />
  </wsdl:message>
  <wsdl:message name="IService1_saveExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveExamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertExamLine_InputMessage">
    <wsdl:part name="parameters" element="tns:insertExamLine" />
  </wsdl:message>
  <wsdl:message name="IService1_insertExamLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertExamLineResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="LoginUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginUserDetails" message="tns:IService1_LoginUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginUserDetailsResponse" message="tns:IService1_LoginUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTitle" message="tns:IService1_AddTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTitleResponse" message="tns:IService1_AddTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadDataTitle" message="tns:IService1_LoadDataTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadDataTitleResponse" message="tns:IService1_LoadDataTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataTitleByParemeters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadDataTitleByParemeters" message="tns:IService1_LoadDataTitleByParemeters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadDataTitleByParemetersResponse" message="tns:IService1_LoadDataTitleByParemeters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTitle" message="tns:IService1_UpdateTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTitleResponse" message="tns:IService1_UpdateTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteTitle" message="tns:IService1_DeleteTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteTitleResponse" message="tns:IService1_DeleteTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCategory" message="tns:IService1_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCategoryResponse" message="tns:IService1_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadDataCategory" message="tns:IService1_LoadDataCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadDataCategoryResponse" message="tns:IService1_LoadDataCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataCategoryByParemeters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadDataCategoryByParemeters" message="tns:IService1_LoadDataCategoryByParemeters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadDataCategoryByParemetersResponse" message="tns:IService1_LoadDataCategoryByParemeters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateCategory" message="tns:IService1_UpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateCategoryResponse" message="tns:IService1_UpdateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCategory" message="tns:IService1_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCategoryResponse" message="tns:IService1_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddQuestion" message="tns:IService1_AddQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddQuestionResponse" message="tns:IService1_AddQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadDataQuestion" message="tns:IService1_LoadDataQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadDataQuestionResponse" message="tns:IService1_LoadDataQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataQuestionByParemeters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadDataQuestionByParemeters" message="tns:IService1_LoadDataQuestionByParemeters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadDataQuestionByParemetersResponse" message="tns:IService1_LoadDataQuestionByParemeters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateQuestion" message="tns:IService1_UpdateQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateQuestionResponse" message="tns:IService1_UpdateQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteQuestion" message="tns:IService1_DeleteQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteQuestionResponse" message="tns:IService1_DeleteQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCreateAccount" message="tns:IService1_InsertCreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertCreateAccountResponse" message="tns:IService1_InsertCreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateAccount" message="tns:IService1_updateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateAccountResponse" message="tns:IService1_updateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadQuestion1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loadQuestion1" message="tns:IService1_loadQuestion1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loadQuestion1Response" message="tns:IService1_loadQuestion1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/saveExam" message="tns:IService1_saveExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/saveExamResponse" message="tns:IService1_saveExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertExamLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertExamLine" message="tns:IService1_insertExamLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertExamLineResponse" message="tns:IService1_insertExamLine_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadDataTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataTitleByParemeters">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadDataTitleByParemeters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadDataCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataCategoryByParemeters">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadDataCategoryByParemeters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQuestion">
      <soap:operation soapAction="http://tempuri.org/IService1/AddQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataQuestion">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadDataQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataQuestionByParemeters">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadDataQuestionByParemeters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQuestion">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCreateAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/updateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadQuestion1">
      <soap:operation soapAction="http://tempuri.org/IService1/loadQuestion1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveExam">
      <soap:operation soapAction="http://tempuri.org/IService1/saveExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertExamLine">
      <soap:operation soapAction="http://tempuri.org/IService1/insertExamLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49843/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>