DOANCUOIKY/DOANCUOIKY/Service References/WCF/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInfoToValidate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoToValidate" nillable="true" type="tns:UserInfoToValidate" />
  <xs:complexType name="CreateAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="HovaTen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mssv" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateAccount" nillable="true" type="tns:CreateAccount" />
</xs:schema>